{{#paper-list}}
  {{#each site as |site|}}

    {{#paper-item class="md-3-line" action="goToEditSite" param=site}}
      {{paper-icon 'edit' size=2}}
      <div class="md-list-item-text">
        <h3>{{site.title}}</h3>
        <p>
          {{site.description}}
        </p>
        <h4>Number of posts: {{site.posts.length}}</h4>
      </div>
    {{/paper-item}}
    {{paper-divider inset=true}}

  {{/each}}
{{/paper-list}}
