<h4>Update {{post.title}} by {{post.author}}</h4>

{{paper-input label="Title" id=title value=post.title}}
{{paper-input label="Author" id=author value=post.author}}
{{paper-input label="Image URL" id=image value=post.image}}
{{paper-input textarea=true attr-rows='4' label="Content" id=content value=post.content}}
{{paper-button primary=true raised=true label="Save" action='update'}}
{{paper-button primary=true rasied=true label="Delete" action='delete'}}
