<h4>Update {{post.title}} by {{post.author}}</h4>
  <div>
    <form>
      <div class="form-group">
        <label for="title">Title</label>
        {{input value=title id="title" placeholder=post.title}}
      </div>

      <div class="form-group">
        <label for="author">Author</label>
        {{input value=author id="author" placeholder=post.author}}
      </div>

      <div class="form-group">
        <label for="content">Content</label>
        {{textarea rows="4" value=content id="content" placeholder=post.content}}
      </div>

      <button {{action 'update' post}}>Save</button>
    </form>
  </div>

  {{delete-post post=post delete="delete"}}
