<h4>Update {{post.title}} by {{post.author}}</h4>
  <div>
    <form>
      <div class="form-group">
        <label for="title">Title</label>
        {{input value=post.title id="title"}}
      </div>

      <div class="form-group">
        <label for="author">Author</label>
        {{input value=post.author id="author"}}
      </div>

      <div class="form-group">
        <label for="image">Image URL</label>
        {{input value=post.image id="image"}}
      </div>

      <div class="form-group">
        <label for="content">Content</label>
        {{textarea rows="4" value=post.content id="content"}}
      </div>

      <button {{action 'update' post}}>Save</button>
    </form>
  </div>

  {{delete-post post=post delete="delete"}}
