<h2>Add A Comment {{paper-icon "message" size="md"}}</h2>

{{paper-input label="Name" id="name" value=name icon="person" icon-class="name"}}
{{paper-input label="Email" id="email" value=email icon="email" icon-class="email"}}
{{paper-input textarea=true attr-rows='4' label="Comment" id="comment" value=comment icon="message" icon-class="comment"}}

{{paper-button primary=true raised=true label='Submit' action='submit'}}
