{{#paper-list}}
  {{#each model as |site|}}
    {{#paper-item class="md-3-line" action="goToSite" param=site}}
      {{paper-icon 'web' size=3}}
      <div class="md-list-item-text">
        <h3>{{site.title}}</h3>
        <h4>By {{site.admin.username}}</h4>
        <p>
          {{site.description}}
        </p>
      </div>
    {{/paper-item}}
    {{paper-divider inset=true}}
  {{/each}}
{{/paper-list}}
