{{#link-to 'site' post.site.id}}Site Home{{/link-to}}
<br>
<img src="{{post.image}}" alt="{{post.title}}" />
<h1>{{post.title}}</h1>
<h4>Written by {{post.author}}</h4>
<h4>Published: {{moment-format post.date}}</h4>
<p>{{post.content}}</p>

<p>(potentially add ability to comment)</p>
