
{{new-user}}
<!-- {{#if session.isAuthenticated}}
  Logged in as {{session.currentUser.displayName}}
  <button {{action "signOut"}}>Sign out</button>
  {{outlet}}
{{else}}
  <button {{action "signIn" "password"}}>Sign in</button>
{{/if}} -->

{{#link-to 'index'}}<h1>ContentLand</h1>{{/link-to}}

{{outlet}}
