
{{new-user}}
{{#if session.isAuthenticated}}
  Logged in as {{session.currentUser.id}}
  <button {{action "signOut"}}>Sign out</button>
  {{outlet}}
{{else}}
  {{user-login signIn="signIn"}}
{{/if}}

{{#link-to 'index'}}<h1>ContentLand</h1>{{/link-to}}

{{outlet}}
