{{#link-to 'admin'}}Admin{{/link-to}} > {{model.title}}

<h2>Site: {{model.title}}</h2>
{{#if model.posts}}
  <h3>Posts:</h3>
  {{admin-post-list posts=model.posts}}
{{else}}
  <h3>This site has no posts yet.</h3>
{{/if}}
<br>

{{#link-to 'new-post' model.id}}Add New Post{{/link-to}}

{{delete-site site=model delete="delete"}}
{{log model.site.id}}
