{{#paper-toolbar}}
  <div class="md-toolbar-tools">
    {{#paper-sidenav-toggle as |toggle|}}
      {{#paper-button target=toggle action="toggleMenu" icon-button=true}}{{paper-icon "menu"}}{{/paper-button}}
    {{/paper-sidenav-toggle}}
    <span class="md-breadcrumb-page">
      <span class="clickable" {{action "transitionToSite" model.site}}>{{model.site.title}}</span>
      {{paper-icon "keyboard-arrow-right"}}
      New Post
    </span>
  </div>
{{/paper-toolbar}}

{{#paper-content class="md-padding"}}
  {{new-post save="save" site=model.site}}
{{/paper-content}}
